html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    inline-size: 100%;
    block-size: 100%;
}


:root {
    interpolate-size: allow-keywords;
    --header-height: 100px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: AccentColor Canvas;
    scroll-behavior: smooth;
    scroll-padding-block-start: 10vh;
}

body:has(dialog[open]) {
    overflow: hidden;
}

body {
    overscroll-behavior: none;
    /* background-color: light-dark(var(--gray-0), #000); */

    h1, h2, h3, h4, h5, h6,
    label {
        color: CanvasText;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }

    a {
        text-decoration: none;
        border-radius: 5px;
    }

    [data-button] {
        border-radius: var(--rounded);
        outline: none;

        > * {
            pointer-events: none;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    [data-scroll-contain] {
        overscroll-behavior: contain;
    }

    [data-flex-center] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [data-form-input] {
        appearance: none;
        border-radius: var(--radius-2);
        outline: 2px solid transparent;
        outline-offset: -2px;
        transition: .3s var(--ease-1);
        background-color: Field;
        border: 1px solid FieldText;
        caret-color: AccentColor;
        color: FieldText;
        /* border: 1px solid ButtonBorder; */

        &:focus-visible {
            outline-color: AccentColor;
            outline-offset: 2px;
        }
    }

    [data-form-check] {
        outline: 2px solid transparent;
        outline-offset: -2px;
        transition: .3s var(--ease-1);
        border-radius: var(--radius-2);

        &:focus {
            outline-color: AccentColor;
            outline-offset: 2px;
        }
    }

    [data-aria-only] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    ul[data-reading-list] {
        list-style-type: reading-list;

        li {
            margin-block: .5rem;
        }
    }
    ul[data-tool-list] {
        list-style-type: tool-list;

        li {
            margin-block: .5rem;
        }
    }
}

@counter-style reading-list {
    system: cyclic;
    symbols: "📕" "📗" "📘" "📙" "📓" "📒" "📔";
    suffix: "  ";
}

@counter-style tool-list {
    system: cyclic;
    symbols: "⛏️" "🪓" "🧰" "🔩" "⚙️" "⚖️" "🔬" "⚗️" "🔭" "✏️" "✒️" "🔨" "🛠️" "⚒️" "🔧" "🪛" "🪚" "🗜️";
    suffix: "  ";
}