/* @import url(./easing.css);
@import url(./keyframe.css);
@import url(./size.css);
@import url(./space.css); */
@import url(./colors.css);

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

    inline-size: var(--container-full);
    block-size: var(--container-full);

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

:is(html, dialog aside) {
    scrollbar-width: thin;
    scrollbar-color: light-dark(var(--green-7), var(--green-10)) light-dark(var(--gray-0), var(--gray-10));
}

body:has(dialog[open]) {
    overflow: hidden;
}

body {
    color: var(--fg-color);
    background-color: light-dark(var(--gray-0), var(--gray-10));
    overscroll-behavior: none;

    h1, h2, h3, h4, h5, h6,
    label {
        color: var(--fg-color);
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }

    a {
        color: light-dark(var(--green-7), var(--green-4));
        text-decoration: none;
        border-radius: 5px;
    }

    article {
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1rem;
        }

        * ~ h1,
        * ~ h2,
        * ~ h3,
        * ~ h4,
        * ~ h5,
        * ~ h6 {
            margin-top: 2rem;
        }

        p {
            margin-block: 1rem;
            line-height: 1.8;
        }
    }

    [data-button] {
        border-radius: var(--rounded);
        color: var(--fg-color);
        outline: none;

        > * {
            pointer-events: none;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    [data-scroll-contain] {
        overscroll-behavior: contain;
    }

    [data-app-main] {
        transition: transform var(--ease-time) var(--easeOutSine);
    }

    [data-flex-center] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [data-form-input] {
        background-color: var(--bg-form);
        border-radius: var(--rounded-lg);
        border: none;
        outline: none;
        outline: 2px solid transparent;
        outline-offset: -2px;
        transition: var(--ease-time-sm) var(--easeOutBack);
        /* border: 2px solid var(--bg-accent); */
        caret-color: var(--secondary);
        color: var(--fg-color);

        &:focus {
            outline-color: var(--secondary);
            outline-offset: 2px;
        }
    }

    [data-aria-only] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    ul[data-reading-list] {
        list-style-type: reading-list;

        li {
            margin-block: .5rem;
        }
    }
    ul[data-tool-list] {
        list-style-type: tool-list;

        li {
            margin-block: .5rem;
        }
    }
}

@counter-style reading-list {
    system: cyclic;
    symbols: "📕" "📗" "📘" "📙" "📓" "📒" "📔";
    suffix: "  ";
}

@counter-style tool-list {
    system: cyclic;
    symbols: "⛏️" "🪓" "🧰" "🔩" "⚙️" "⚖️" "🔬" "⚗️" "🔭" "✏️" "✒️" "🔨" "🛠️" "⚒️" "🔧" "🪛" "🪚" "🗜️";
    suffix: "  ";
}