---
import Layout from "../../layouts/Layout.astro"
import CodeBlock from "../../components/CodeBlock.astro"
import PageTitle from "../../components/PageTitle.astro"
import SectionTitle from "../../components/SectionTitle.astro"

const contents = [
    {
        url: 'html-input',
        name: 'Input Number'
    },
]
---

<Layout contents={contents}>
    <PageTitle>HTML</PageTitle>

    <h3>Input</h3>
    <SectionTitle id="html-input">Input Number</SectionTitle>
    <p>
        Number keyboard for mobile.
    </p>
    <CodeBlock code={`<input type="number"
    inputmode="numeric"
    pattern="[0-9]*"
    name="amount"
    placeholder="0.00" />`} lang="html" />
</Layout>