

<section>
    <article id="mainContent">
        <slot/>
    </article>
</section>

<style>
@layer layout {
    section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-block: 5vh;
        position: relative;
        z-index: 0;
    }

    article {
        width: 90%;
        max-width: 800px;
    }
}
</style>