---
const { label, url } = Astro.props;
const currentPath = Astro.url.pathname
const currentUrl = currentPath.endsWith('/') ? currentPath.slice(0, -1) : currentPath
---

<a data-nav class={currentUrl === url ? "active" : ""} href={url}>{label}</a>

<style>
@layer layouts {
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--size-2);

        height: var(--size-px-7);
        text-decoration: none;
        color: CanvasText;
        text-transform: capitalize;
        padding-inline: var(--size-3);
        border-radius: 10px 40px 40px 10px;
        position: relative;
        font-size: .9rem;

        &::before {
            content: '';
            display: block;
            width: 2px;
            height: 12px;
            background-color: GrayText;
            border-radius: var(--radius-drawn-4);

            transition: width .25s ease;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            inset: 0;
            border-radius: 10px 40px 40px 10px;
        }

        &:hover,
        &:focus-visible {
            color: ButtonText;

            &::before {
                width: var(--size-3);
            }
            &::after {
                background-color: ButtonFace;
            }
        }

        &.active {
            &::before {
                width: var(--size-3);
                background-color: var(--accent-color);
            }

            &::after {
                background-color: Highlight;
            }
        }


        &.active:focus {
            background-color: var(--green-1);
        }
    }
}
</style>