---
import Layout from "../../layouts/Layout.astro"
import PageTitle from "../../components/PageTitle.astro"
import CodeBlock from "../../components/CodeBlock.astro"
---

<Layout>
    <PageTitle>Cool CSS</PageTitle>

    <h3>Dotted Blur</h3>
    <CodeBlock code={`{
    background-color: rgb(0,0,0);
    background-image: radial-gradient( rgba(0,0,0,0) 1px,
            rgb(0,0,0) 1px );
    background-size: 4px 4px;
    backdrop-filter: brightness(100%) blur(3px);
}`} lang="css" />

    <h3>Text Multi Lines Overflow</h3>
    <CodeBlock code={`{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* how many lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}`} lang="css" />

    <h3>Grid Auto Layout</h3>
    <CodeBlock code={`.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}`} lang="css" />

    <h3>Add Class on Sticky Hack</h3>
    <CodeBlock code={`.myElement {
  position: sticky;
  top: -1px;
}

/* styles for when the header is in sticky mode */
.myElement.is-pinned {
  color: red;
} `} lang="css" />
    <CodeBlock code={`const el = document.querySelector(".myElement")
const observer = new IntersectionObserver(
  ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
  { threshold: [1] }
);

observer.observe(el);`} lang="js" />

    <h3>Another Way</h3>
    <CodeBlock code={`.sticky-element {
      position: sticky;
      top: 60px; /* Adjust as needed */
      padding: 10px;
}
.pined {
      background-color: lightblue;
}`} lang="css" />
    <CodeBlock code={`const stickyElement = document.getElementById('stickyElement');
let isSticky = false;

const checkStickyPosition = () => {
    const rect = stickyElement.getBoundingClientRect();
    isSticky = rect.top === 60; // Adjust to the initial top value
};

const handleScroll = () => {
    checkStickyPosition();
    stickyElement.classList.toggle('pined', isSticky);
};

window.addEventListener('scroll', handleScroll);
checkStickyPosition();`} lang="js" />
</Layout>