---
import Layout from "../../layouts/Layout.astro"
import PageTitle from "../../components/PageTitle.astro"
---

<Layout>
    <PageTitle>Layers</PageTitle>
    <p class="transition">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur nulla, molestias quibusdam eos, possimus
        aut laboriosam eveniet reprehenderit ad commodi et iste qui deserunt expedita!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, corrupti. Totam ex veritatis nulla repellat
        aliquam nobis iusto impedit nostrum doloremque soluta nam, veniam ratione eius libero suscipit quod dolorem?
    </p>
</Layout>