[hidden] {
    display: none;
}

/* @supports (background-color: -apple-system-control-background)
  and (color: text) {
    [data-form-input] {
        background-color: light-dark(var(--gray-0), var(--gray-10));
    }
} */

@media (hover: hover) and (pointer: fine) {
    [data-button],
    [data-nav],
    pre,
    a {
        cursor: pointer;
        outline: 2px solid transparent;
        outline-offset: -2px;
        transition: outline-offset .5s var(--ease-spring-1);

        &:focus-visible {
            outline-color: AccentColor;
            outline-offset: 2px;
        }
    }

    [data-item-focus] {
        outline: 2px solid transparent;
        outline-offset: -2px;
        transition: .5s var(--ease-spring-1);

        &:has(input:focus) {
            outline-color: AccentColor;
            outline-offset: 2px;
        }
    }
}
