
@layer reset, openprops, theme, utils, layouts, components, pages, overwrite;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400&display=swap');
@import url("https://unpkg.com/open-props") layer(openprops);
/* @import url('/src/styles/prism-tomorrow.css') layer(theme); */

@import "prismjs/themes/prism-tomorrow.css";

@import url(./utils/reset.css) layer(reset);
@import url(./utils/theme.css) layer(theme);
@import url(./utils/utils.css) layer(utils);
@import url(./utils/colors.css) layer(utils);

@import url(./utils/copy.css) layer(components);

@import url(./overwrite.css) layer(overwrite);

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: .5s;
}

::view-transition-old(root) {
    animation-name: PageOut;
    animation-timing-function: var(--ease-spring-3);
}
::view-transition-new(root) {
    animation-name: PageIn;
    animation-timing-function: var(--ease-spring-1);
}

::view-transition-old(pageTitle) {
    animation-name: TitleOut;
}
::view-transition-new(pageTitle) {
    animation-name: TitleIn;
}

@media (max-width: 991px) {
    ::view-transition-group(aside) {
        animation-duration: .5s;
    }

    ::view-transition-old(aside) {
        animation-name: SlideOut;
        animation-timing-function: var(--ease-5);
    }
}

@keyframes PageIn {
    from {
        translate: min(100vw, 700px) 0;
    }
    to {
        translate: 0 0;
    }
}
@keyframes PageOut {
    from {
        translate: 0 0;
        opacity: 1;
    }
    to {
        translate: max(-50vw, -300px) 0;
        opacity: 0;
    }
}
@keyframes TitleIn {
    from {
        translate: 200px 0;
    }
    to {
        translate: 0 0;
    }
}
@keyframes TitleOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes SlideOut {
    to {
        translate: -110% 0;
    }
}