---
import Aside from "./utils/Aside.astro"
import MainContent from "./utils/MainContent.astro"
import type { ContentItem } from './types'
const { contents } = Astro.props
const contentsTyped: ContentItem[] = contents
---

<main>
    <Aside />
    <MainContent contents={contents}>
        <slot />
    </MainContent>
</main>

<style>
@layer layouts {
    main {
        width: 100%;
        display: block;

        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: max-content 1fr;
        }
    }
}
</style>